$mushroom: #833a90;
$plant: #98c771 ;
$froog: #754243 ;
$foot: #cfb924 ;
$flower: #1779ad ;
$root: #8a785d ;
$scorpion: #b1413e ;
$feather: #404049 ;
$minus: blue ;
$plus: red ;

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  @media (max-width: 760px){
    font-size: 14px;
  }
  @media (min-width: 568px) and (max-width: 759px){
    font-size: 12px;
  }
  @media (max-width: 567px){
    font-size: 7px;
  }
}

body {
  background-color: grey;
}

// div board answer section
.answerDivBoard {
  background-color: #222020;
  min-width: 320px;  
  padding: 2px;
  width: 100%;
&__row {
  text-align: center;  
  width: 100%;
}
&__row:nth-child(2n+1) {
  margin-top: 10px;
}
&__element {
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;    
  height: 5rem;
  margin-left: 4px;
  margin-bottom: 5px;
  width: 5rem;
  .neutral {
    background-color: pink;
  }
  .big {
    width: 2em;
  }
  img {
    width: 1em;
  }
}

 .row {
  background-color: #fff;
}
 .column {
  background-color: #fff;
}

.selected {
  background-color: #fc8f00;
}

}