.piramid {
  min-width: 320px;
}

.piramid__board {
  background-color: #35100E;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  text-align: center;
  width: 100%;
}

.piramid__row {
  box-sizing: border-box;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.piramid__row-active:last-child {
  border: 5px solid #98c771;
}

.piramid__row:last-child {
  margin: 10px;
}

.piramid__elements {
  border-radius: 25px;
  border-right: 0.3rem solid #fff;
  display: inline-block;
  height: 4rem;
  margin-left: 0.3rem;
  width: 4rem;
}

.piramid__elements img {
  border-radius: 30px;
  box-sizing: border-box;
  max-width: 4rem;
  max-height: 6rem;
  width: 100%;
}

.piramid__elements-active {
  border-left: 0.3rem solid white;
  background-color: rgba(255, 255, 255, 0.66);
}

.piramid__elements .temporary-solution {
  border-radius: 25px;
  cursor: pointer;
  height: 100%;
  line-height: 5;
  text-orientation: vertical;
  width: 100%;
}

.btn__group {
  background-color: #35100E;
  display: flex;
  justify-content: center;
  min-width: 320px;
  padding: 2px;
  width: 100%;
}

.btn__piramide {
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 2em;
  font-weight: bold;
  height: 4rem;
  width: 4rem;
  margin: 2px;
  cursor: pointer;
}

.btn__piramide-red {
  background-color: red;
}

.btn__piramide-green {
  background-color: green;
}

.btn__piramide-blue {
  background-color: blue;
}

.btn__piramide-neutral {
  background-color: grey;
}

.btn__piramide-default {
  border: 2px solid #fff;
  color: #000;
  font-size: .9em;
  width: 6rem;
}

.btn__piramide-active {
  border: 2px solid #fff;
  border-radius: 50px;
}

.mushroom {
  background-color: #833a90;
}

.plant {
  background-color: #98c771;
}

.froog {
  background-color: #754243;
}

.foot {
  background-color: #cfb924;
}

.flower {
  background-color: #1779ad;
}

.root {
  background-color: #8a785d;
}

.scorpion {
  background-color: #b1413e;
}

.feather {
  background-color: #404049;
}

.minus {
  color: #fff;
  background-color: #fff;
}

.plus {
  color: #fff;
  background-color: #fff;
}
